// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Mesta from "../../../index.js";
import { BeneficiariesClient } from "../resources/beneficiaries/client/Client.js";
import { SendersClient } from "../resources/senders/client/Client.js";

export declare namespace ValidationRulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ValidationRulesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ValidationRulesClient.Options>;
    protected _senders: SendersClient | undefined;
    protected _beneficiaries: BeneficiariesClient | undefined;

    constructor(options: ValidationRulesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get senders(): SendersClient {
        return (this._senders ??= new SendersClient(this._options));
    }

    public get beneficiaries(): BeneficiariesClient {
        return (this._beneficiaries ??= new BeneficiariesClient(this._options));
    }

    /**
     * Retrieve a list of states/provinces for a given country code. Returns state codes in ISO 3166-2 format.
     *
     * @param {Mesta.ListStatesValidationRulesRequest} request
     * @param {ValidationRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Mesta.UnauthorizedError}
     * @throws {@link Mesta.ForbiddenError}
     * @throws {@link Mesta.InternalServerError}
     * @throws {@link errors.MestaError}
     * @throws {@link errors.MestaTimeoutError}
     *
     * @example
     *     await client.validationRules.listStates({
     *         country: "US"
     *     })
     */
    public listStates(
        request: Mesta.ListStatesValidationRulesRequest,
        requestOptions?: ValidationRulesClient.RequestOptions,
    ): core.HttpResponsePromise<Mesta.ListStatesValidationRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listStates(request, requestOptions));
    }

    private async __listStates(
        request: Mesta.ListStatesValidationRulesRequest,
        requestOptions?: ValidationRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Mesta.ListStatesValidationRulesResponse>> {
        const { country } = request;
        const _queryParams: Record<string, unknown> = {
            country,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "x-api-secret": requestOptions?.apiSecret ?? this._options?.apiSecret }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MestaEnvironment.Production,
                "v1/validation-rules/states",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Mesta.ListStatesValidationRulesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Mesta.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Mesta.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Mesta.InternalServerError(
                        _response.error.body as Mesta.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MestaError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/validation-rules/states");
    }
}
